<ion-header>
  <ion-toolbar>
    <ion-title>Personas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>For those who can runs this app</ion-title>
  <h2>Student</h2>
  <p>Student can 
  </p>
  <ul>
  <li>Login to the page easily</li>
  <li>Vle is helpful for the online class (if they have online class)</li>
  <li>this app updates themselve about any events</li>
  <li>check their updated timetable</li>
  </ul>
  <h2>Parents</h2>
  <p>Parents can also login to the app to check the recent updates
    and event of the university
  </p>
  <ul>
  <li>Login to the page easily</li>
  <li>Open events by clicking the event button</li>
</ul>
<h1>Basically this app is very helpful for the students where they can check recent updates by the university and takes online classes if they have</h1>
</ion-content>
