<ion-header>
  <ion-toolbar>
    <ion-title>Framework</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-title>Framework that i use</ion-title>
<h1>CSS:</h1>
<P>i use css to develop this project as i have a great knowlegde about css and its very usefull</P>
<h1>HTML:</h1>
<P>i use html it is as foundation for the app developnment. Front end developer also uses the html element.
  it is also an open-sorce framework</P>
<h1>JavaScript</h1>
<p>java is the best choice as one of the most popular programming languages ​​used to create server side 
  applications for video games and mobile applications. It is also a mainstay of Android app development
  which makes it popular with many developers</p>
  <h1>Ionic</h1>
  <p>Ionic is a powerful Open Source Software Development Kit used to develop apps. 
    A key feature of Ionic is its use of standard web technologies such as HTML, CSS 
    and JavaScript.That's why it's easy even for web developers to create mobile apps with Ioni</p>
</ion-content>
