<ion-header>
  <ion-toolbar>
    <ion-title>App-Goal</ion-title>   
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div class="app-content">
     
    <ion-label>
      <h1> My Goal</h1>
      <p>In this application, I am going to develop the university events & notifications where students can aware of all the events. 
        It helps the students if there is an online class so I also add the button known as LMS login where a student just clicks on 
        LMS and adds his id, and password to enter the class (provided by University). In this application, a notification button is 
        just to notify the student’s class or other activities, etc. Overall, this application very helps full for students.</p>
    </ion-label>
  </div>

</ion-content>
