<ion-header>
  <ion-toolbar>
    <ion-title>App-Goal</ion-title>   
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div class="app-content">
     
    <ion-label>
      <h1> My Goal</h1>
      <p>The purpose of this application is to keep students updated regarding any kind of event happening within the university
        Students can also attend online classes if there is any by logging in their LMS (just add password and id provided by university) and 
      also check there updated time tables </p>
    </ion-label>
  </div>

</ion-content>
