<ion-header>
  <ion-toolbar>
    <ion-title>Prototype</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-slides pager="true">
  <ion-slide>
    <img src="assets/1.png" />
    
  </ion-slide>
  <ion-slide>
    <img src="assets/1.png" />
   
  </ion-slide>
  <ion-slide>
    <img src="assets/3.png" />
   
  </ion-slide>
  <ion-slide>
    <img src="assets/4.png" />
  
  </ion-slide>
  <ion-slide>
    <img src="assets/5.png" />
   
  </ion-slide>
  <ion-slide>
    <img src="assets/6.png" />
   
    </ion-slide>
    <ion-slide>
      <img src="assets/7.png" />
     
      </ion-slide>
  </ion-slides>
</ion-content>



