<ion-header>
  <ion-toolbar>
    <ion-title>Prototype</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-slides pager="true">
  <ion-slide>
    <img src="assets/img1.png" />
    
  </ion-slide>
  <ion-slide>
    <img src="assets/img2.png" />
   
  </ion-slide>
  <ion-slide>
    <img src="assets/img3.png" />
   
  </ion-slide>
  <ion-slide>
    <img src="assets/img4.png" />
  
  </ion-slide>
  <ion-slide>
    <img src="assets/img5.png" />
   
  </ion-slide>
  <ion-slide>
    <img src="assets/img6.png" />
   
    </ion-slide>
    <ion-slide>
      <img src="assets/img7.png" />
     
      </ion-slide>
  </ion-slides>
</ion-content>



